<ion-modal-view class="animateText">
  <ion-content class="login">
    <div class="app-icon"></div>
    <div class="button-social" ng-controller="PopupCtrl">

    <b >Ingrese con</b><br>

      <button class="button button-calm ion-social-twitter" ng-click="showPopup()"></button>
      <button class="button button-positive ion-social-facebook" ng-click="showPopup()"></button>
      <button class="button button-assertive ion-social-google" ng-click="showPopup()"></button>
      <br><br>
      <button class="button icon-left ion-email button-positive" ng-click="showPopup()">Email</button>
      <button class="button icon-left ion-person-add button-positive" ng-click="showPopup()">Registrarse </button>
      <button class="button icon-left ion-ios-eye button-positive" ng-click="showConfirm()">Anónimo </button>


    </div>          


    
<!--
    <form ng-submit="doLogin()">


    <div class="list" style="opacity: 0.4">
        <ion-item >
            <ion-label floating><b>Username</b></ion-label>
            <ion-input highlight-color="balanced" type="text"  value=""></ion-input>
        </ion-item>

        <ion-item >
            <ion-label floating><b>Password</b></ion-label>
            <ion-input  highlight-color="balanced" type="password" value=""></ion-input>
        </ion-item>
    </div>

    <br>
    
    <div padding>
        <p class="button-entrar"><button ion-button color="light" round >Login</button></p>
    </div>
    


    ++++++++
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    +++++++++
    </form>
    -->
  </ion-content>
</ion-modal-view>
